# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ftodo.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\anbossar\Desktop\projects\ftodo\.idea\.idea.ftodo.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
