# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.ftodo.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\anbossar\Desktop\projects\ftodo\.idea\.idea.ftodo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
